.key {
  background: #d4e6f1;
  display: inline-block;
  border: 1px solid black;
  /* padding: 4px;
  margin-bottom: 1px;
  margin-left: 0.01px;
  margin-right: 0.1px; */

  /* height: 26px;
  width: 26px;
  border-radius: 2px;
  font-size: 13px; */
  text-align: center;
}

/* .space {
  background: #d4e6f1;
  display: inline-block;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 1px;
  margin-left: 0.01px;
  margin-right: 0.1px;

  height: 26px;
  width: 200px;
  border-radius: 2px;
  font-size: 13px;
  text-align: left;
}

.enter {
  background: #d4e6f1;
  display: inline-block;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 1px;
  margin-left: 0.01px;
  margin-right: 0.1px;
  height: 26px;
  width: 50px;
  border-radius: 2px;
  font-size: 13px;
  text-align: right;
} */

/* 
.square 
{
  width: 3%
  display:inline-block;
  background: #D4E6F1;
  border-radius: 15%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  
} */

/* .centered0 {
  position: absolute;
  top: 38%;
  left: 14%;
  transform: translate(-30%, -50%);
  text-align: center;
} */
/* .centered1 {
  position: absolute;
  top: 78%;
  left: 14%;
  transform: translate(-30%, -50%);
  text-align: center;
} */
/* .centered2 {
  position: absolute;
  top: 83%;
  left: 16%;
  transform: translate(-30%, -50%);
  text-align: center;
} */
/* .centered3 {
  position: absolute;
  top: 88%;
  left: 18%;
  transform: translate(-30%, -50%);
  text-align: center;
} */
/* .centered4 {
  position: absolute;
  top: 93%;
  left: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
/* .centered5 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* Control the left side */
/* .left {
  left: 0;
  background-color: white;
}

/* Control the right side */
/* .right {
  right: 0;
  background-color: #bfc9ca;
} */

/* Style the image inside the centered container, if needed */
