body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: "Montserrat", "Avenir";
    background-image: url("https://image.freepik.com/free-photo/watercolor-light-gray-background-painting-texture-monochrome-stains-paper-overlay-modern-abstract-black-white-aquarelle-art_145343-85.jpg");
}  


.container
{
  
  max-width: 48rem;
  width: 50%;
  top :20%;
  text-align: center;
  margin-top: 10%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}
.w3-panel
{
  padding-top: 0.01em;
  padding-right: 36px;
  padding-bottom: 50px;
  padding-left: 36px;
  margin-top: 7%;
  
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom:7%
}
.w3-xxlarge
{
  font-size: 25px;
  font-family: "Times New Roman", Times, serif
}

.w3-hover-opacity: hover{opacity:0.60}

.w3-card-4,.w3-hover-shadow:hover
{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.w3-padding-24
{
  padding-top:24px!important;
  padding-bottom:24px!important;
  padding-left: 5px;
  padding-right: 5px

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}





